.container-fluid
    .row
        .col-md-offset-3.col-md-6.col-lg-offset-4.col-lg-4.col-sm-offset-2.col-sm-8
            form(action='/' method='POST')
                .form-group
                    label(for='company_name') Firmanavn
                    input#company_name.form-control(name='company_name' type='text')

                .form-group
                    label(for='tax_id') Organisasjonsnummer
                    input#tax_id.form-control(name='tax_id' type='text')

                .form-group
                    label(for='contact_person') Kontaktperson
                    input#contact_person.form-control(name='contact_person' type='text')

                .form-group
                    label(for='stand_name') Navn på stand
                    input#stand_name.form-control(name='stand_name' type='text')

                .form-group
                    label(for='city') Poststed
                    input#city.form-control(name='city' type='text')

                .form-group
                    label(for='zip_code') Postnummer
                    input#zip_code.form-control(name='zip_code' type='text')

                .form-group
                    label(for='address') Adresse
                    input#address.form-control(name='address' type='text')

                .form-group
                    label(for='phone') Telefon
                    input#phone.form-control(name='phone' type='text')

                .form-group
                    label(for='cellphone') Mobil
                    input#cellphone.form-control(name='cellphone' type='text')

                .form-group
                    label(for='email') Email
                    input#email.form-control(name='email' type='text')

                .form-group
                    label(for='website') Webside
                    input#website.form-control(name='website' type='text')

                .form-group
                    label(for='billing_address') Fakturaadresse
                    input#billing_address.form-control(name='billing_address' type='text')

                .form-group
                    label(for='stand_until_21') Standard stand (telt, åpent til 21:00)
                    select#stand_until_21.form-control(name='stand_until_21')
                        each val, index in [ '9 kvm (9.950,-)', '27 kvm (24.600,-)', '45 kvm (33.300,-)', '45 kvm (33.300,-)', '72 kvm (49.950,-)', '108 kvm (72.000,-)', '135 kvm (88.700,-)', '162 kvm (105.000,-)', 'Vogn. Maks bredde/lengde 9 x 3 meter (13.800,-)' ]
                            option(value='#{val}')= val

                //-.panel.panel-default
                    .panel-heading Vi bekrefter bestilling av følgende standard stand (telt, åpent til 21.00, eks. bevilling)
                    .panel-body
                      each val in [ '9 kvm (9.950,-)', '27 kvm (24.600,-)', '45 kvm (33.300,-)', '45 kvm (33.300,-)', '72 kvm (49.950,-)', '108 kvm (72.000,-)', '135 kvm (88.700,-)', '162 kvm (105.000,-)', 'Vogn. Maks bredde/lengde 9 x 3 meter (13.800,-)' ]
                        .radio
                          .label
                            input(type='radio' name='stand_until_21', value='#{val}')
                            = val

                .form-group
                    label(for='opening_hours_to_24') Åpningstid til 24:00 (+ 5.000,-)
                    select#opening_hours_to_24.form-control(name='opening_hours_to_24')
                        option(value='Ja') Ja
                            option(value='Nei') Nei

                .form-group
                    label(for='license_open_until_21') Bevilling åpent til 21:00 (+ 10.000,-)
                    select#license_open_until_21.form-control(name='license_open_until_21')
                        option(value='Ja') Ja
                            option(value='Nei') Nei

                .form-group
                    label(for='license_open_until_24') Bevilling åpent til 24:00 (+ 27.000,-)
                    select#license_open_until_24.form-control(name='license_open_until_24')
                        option(value='Ja') Ja
                            option(value='Nei') Nei

                .form-group
                    label(for='extra_space') Ekstra uteareal (kvm)
                    input#extra_space.form-control(name='extra_space' type='text')

                .form-group
                    label(for='additional_requirements') Vi skal tilby følgend
                    input#additional_requirements.form-control(name='additional_requirements' type='text')

                //-.panel.panel-default
                  .panel-heading Mat- og måltidskonsept
                  .panel-body
                .form-group
                    label(for='proposal') Gladmatrett (forslag)
                    textarea#proposal.form-control(name='proposal')

                .form-group
                    label(for='note') Kommentar
                    textarea#note.form-control(name='note')

                .form-group
                    button.form-control.btn.btn-info(type='submit') Ga voider


                //-
                  p
                    label Annen størrelse på stand
                    input.form-control(name='stand_custom_size' type='text')

                  p
                    label Other Size of trolley
                    input.form-control(name='vehicle_custom_size' type='text')

                  p
                    label Åpningstid til 24:00 (+ 5.000,-)
                    select.form-control(name='opening_hours_to_24')
                      option(value='Ja') Ja
                      option(value='Nei') Nei

                  p
                    label Bevilling åpent til 21:00 (+ 10.000,-)
                    select.form-control(name='license_open_until_21')
                      option(value='Ja') Ja
                      option(value='Nei') Nei

                  p
                    label Bevilling åpent til 24:00 (+ 27.000,-)
                    select.form-control(name='license_open_until_24')
                      option(value='Ja') Ja
                      option(value='Nei') Nei

                  p
                    label Ekstra uteareal (kvm)
                    input.form-control(name='extra_space' type='text')

                  p
                    label Vi skal tilby følgende
                    input.form-control(name='additional_requirements' type='text')

                  p
                    label Gladmatrett (forslag)
                    textarea.form-control(name='proposal')

                  p
                    label Kommentar
                    textarea.form-control(name='note')