.panel.panel-default.terms
  .panel-body
    .title.text-center
      span Gladmat AS, post@gladmat.no, faks: 51 87 40 71
      h4.text-uppercase KONTRAKTS BETINGELSER

    .row
      .col-md-offset-2.col-md-8
        .list-group
          .list-group-item
            h4.list-group-item-heading 1. Bestilling
            .list-group-item-text.text-justify
              p Vi takker for interessen for GLADMAT, og i dette dokumentet finner du/dere de samlede betingelser for å være utstiller i 2016. Gladmat er avhengig av forutberegnelighet i god tid før arrangementet begynner, og vilkårene i kontrakten bærer preg av dette. Alt dette for at vi skal kunne levere en best mulig tjeneste til deg og dine kunder.
              p Kontrakten er bindende.
              p Kontrakten er ikke gyldig før denne foreligger i utfylt og undertegnet stand.
              p Utstiller som trekker sin bestilling etter 28.2.2016 må betale en kanselleringsavgift på kroner 1500.-
              p Ved kansellering mellom 1. april og 31. mai må 50 % av standleien betales.
              p Ved kansellering etter 1. juni må 100 % av standleien betales.

          .list-group-item
            h4.list-group-item-heading 2. Betalingsbetingelser
            .list-group-item-text.text-justify
              p Halvparten av beløpet faktureres ved bestilling (med forfall etter 15 dager), og resten faktureres med betalingsfrist 1. april. Ved bestilling etter 1. april, faktureres hele beløpet samtidig. Garanti for avtalt standareal bortfaller dersom ikke faktura blir betalt i tide. Ved for sen betaling vil kunden bli belastet med 1,5 % rente pr. påbegynt måned. Det gis ikke adgang til stand dersom ikke full standleie er betalt innen festivalstart.

          .list-group-item
            h4.list-group-item-heading 3. Fremleie
            .list-group-item-text.text-justify
              p Fremleie av stand er ikke tillatt.

          .list-group-item
            h4.list-group-item-heading 4. Avlysning
            .list-group-item-text.text-justify
              p Arrangøren forbeholder seg retten til å kunne avlyse arrangementet.

          .list-group-item
            h4.list-group-item-heading 5.
            .list-group-item-text.text-justify
              p Utstiller er ansvarlig for skader som påføres personer, bygninger, innredninger, anlegg og underlag/dekke. Instrukser og anvisninger fra myndigheter og arrangør må følges nøye.

          .list-group-item
            h4.list-group-item-heading 6.
            .list-group-item-text.text-justify
              p Utstiller må ha alle godkjennelser fra Mattilsynet når det gjelder tilvirkning av mat før og under arrangementet.

          .list-group-item
            h4.list-group-item-heading 7.
            .list-group-item-text.text-justify
              p Utstiller må selv dekke nødvendig forsikring av eget utstyr.

          .list-group-item
            h4.list-group-item-heading 8.
            .list-group-item-text.text-justify
              p Utstiller må selv sørge for transport, montering og demontering, pakking og bortkjøring av sine varer og utstyr innen tidsrom gitt av arrangør.

          .list-group-item
            h4.list-group-item-heading 9.
            .list-group-item-text.text-justify
              p Når standen demonteres skal området og teltet tilbakeleveres rengjort og fri for dekorasjoner, spiker, fundamenter etc. i tilfelle forsømmelser, forbeholder arrangøren seg rett til å foreta det nødvendige opprydningsarbeidet for kundens regning. Skader, mangel på renhold av telt medfører ekstra kostnader som faktureres utstiller (standen gjennomgås sammen med utstiller før avreise).

          .list-group-item
            h4.list-group-item-heading 10.
            .list-group-item-text.text-justify
              p Dersom kommunen pålegger ekstra rengjøring av dekke på standen, vil utstiller bli direkte belastet.

          .list-group-item
            h4.list-group-item-heading 11.
            .list-group-item-text.text-justify
              p Strøm, ekstra vann og håndvask <strong>(kun håndvask er obligatorisk)</strong> bestilles av den enkelte på eget skjema.

          .list-group-item
            h4.list-group-item-heading 12.
            .list-group-item-text.text-justify
              p Foruten gjelder politivedtektene m.h.t støy og orden. Musikk med forsterket lyd tidsbegrenses fra 19-23. Arrangør forbeholder seg retten til å stenge stander som ikke følger retningslinjer og regler gitt av arrangør el. off. myndigheter.

          .list-group-item
            h4.list-group-item-heading 13.
            .list-group-item-text.text-justify
              p Utstiller må forholde seg til type konsept og serveringstilbud innmeldt til arrangør, og retningslinjer i forhold til dette. Alle utstillere er pliktig å tilby småretter/smakebiter med maks pris kr. 30,-. Arrangør forbeholder seg retten til å stenge stander som ikke følger innmeldt konsept, retningslinjer og regler gitt av arrangør el. off. myndigheter.

          .list-group-item
            h4.list-group-item-heading 14.
            .list-group-item-text.text-justify
              p Utstiller plikter å oppgi omsetning i etterkant av festivalen.

          .list-group-item
            h4.list-group-item-heading 15.
            .list-group-item-text.text-justify
              p Utstiller som blir innvilget skjenkerett plikter til å innfri krav fra skjenkemyndighetene og politi i forhold til kunnskapsprøve og vakthold.

          .list-group-item
            h4.list-group-item-heading 16.
            .list-group-item-text.text-justify
              p Denne kontrakt og vedlegg har forrang foran alt annet hvor ikke GLADMAT skriftlig har fraveket dette.

          .list-group-item
            h4.list-group-item-heading 17.
            .list-group-item-text.text-justify
              p Ved tvister partene selv ikke klarer å løse ved forhandlinger, vedtas Stavanger Byrett som rett verneting.
