doctype html
html
  head
    title Gladmat 2016
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    .header.text-center
      img(src='/images/logo_white.png')
      h1 Gladmat 2016
      h2 Stavanger 20. - 23 juli 2016

    block content

    block footer
      footer.footer.text-center
        a.btn.btn-link(href='https://www.facebook.com/Gladmat' target='_blank')
          img(src='/images/facebook.png')
        a.btn.btn-link(href='https://instagram.com/gladmat/' target='_blank')
          img(src='images/instagram.png')
