.form-title.text-center
    h3.text-uppercase UTSTILLERSØKNAD - GLADMAT 2016 - 20.-23. juli 2016

.container-fluid
    .row
        .col-md-offset-3.col-md-3
            .row
                .col-md-3.text-left
                    strong
                        | Firmanavn
                .col-md-3
                    = company_name