extends layout

block content
  h1= title
  p Welcome to #{title}

  .container-fluid
    .row
      .col-md-offset-4.col-md-4
        form
          p
            label Company name
            input.form-control(type='text')

          p
            label Organization number
            input.form-control(type='text')

          p
            label Email Address
            input.form-control(type='text')

          p
              label First name
              input.form-control(type='text')

          p
            label Last name
            input.form-control(type='text')

          p
            label Name of the stand
            input.form-control(type='text')

          p
            label Address line 1
            input.form-control(type='text')

          p
            label Address line 2
            input.form-control(type='text')

          p
            label Billing address
            input.form-control(type='text')

          p
            label ZIP code
            input.form-control(type='text')

          p
            label City
            input.form-control(type='text')

          p
            label Phone
            input.form-control(type='text')

          p
            label Mobile
            input.form-control(type='text')

          p
            label Website
            input.form-control(type='text')

          p
            label Standard stand (tent, open until 21:00)
            input.form-control(type='text')

          p
            label Other Size on stand
            input.form-control(type='text')

          p
            label Other Size of trolley
            input.form-control(type='text')

          p
            label Opening hours to 24:00 (+ 5000, -)
            input.form-control(type='text')

          p
            label Licence open until 21:00 (+ 10.000, -)
            input.form-control(type='text')

          p
            label Licence open until 24:00 (+ 27.000, -)
            input.form-control(type='text')

          p
            label Extra outdoor space (sqm)
            input.form-control(type='text')

          p
            label We shall provide the following
            input.form-control(type='text')

          p
            label Gladmat Straight (proposal)
            input.form-control(type='text')

          p
            label Comment
            input.form-control(type='text')

          p
            input.form-control.btn-info(type='submit')