extends thanks_layout

block content
  .thanks-container.text-center
    img(src='/images/logo_white.png')
    img.curves.curve_with_plane(src='/images/spacing_curve_with_plane.png')
    img.curves.curve(src='/images/spacing_curve.png')
    h1.text-uppercase Takk for din søknad!

    p
      strong Tusen Takk! Gladmat behandler alle søknader fortløpende, og vil komme tilbake til deg i løpet av 14 dager. Ha en god dag videre!
    br
    p
      small: i Med vabblig hilsen Gladmat

  //-.text-center
    a.download-pdf-btn.btn.btn-link(href='#{pdf_path}')
      img(src='/images/icon_pdf.png' alt='Download PDF' title='Download PDF')