extends thanks_layout

block content
  .thanks-container.text-center
    img(src='/images/logo_white.png')
    h1.text-uppercase Thank you!

    p
      strong Tusen takk! Du vil snart få en epost med bekregelse på at vi har moa din søknad.
    p
      small Gladmat behandler alle søknader fortløpende, og vil komme Xlbake Xl deg i løpet av 14 dager. Ha en god dag videre!
    br
    p
      small: i Med vabblig hilsen Gladmat