extends ../layouts/layout

block content

    .form-title.text-center
        h3.text-uppercase UTSTILLERSØKNAD

    .container-fluid
        include _contacts
        include _options
        include _additions
        include ./_terms

        form(action='/complete', method='POST')
            .row
                .col-md-offset-3.col-md-6.text-center
                    .checkbox
                        label
                            input(type='checkbox' name='terms_accepted')
                            | <strong><i>Jeg har lest og godtatt kontrakstbetingelsene</i></strong>

            .row
                .col-md-offset-2.col-md-4
                    a.download-pdf-btn.btn.btn-link(href='#{pdf_path}')
                        img(src='/images/icon_pdf.png' alt='Download PDF' title='Download PDF')
                .col-md-4.text-right
                    input.btn.btn-success(type='submit' disabled='disabled' value='Aksepter og send')

        script.
            $('[name=terms_accepted]').on('change', function (event) {
                if (event.currentTarget.checked) {
                    $('form .btn-success').removeAttr('disabled');
                } else {
                    $('form .btn-success').attr('disabled', 'disabled');
                }
            });